* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #202020;
    --tertiary-color: #FFCC2A;
     font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.contact-form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    padding: 2rem;
}

/* COMBINE LEFT + RIGHT SIDE */
.left-panel, .right-panel {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
}

.ct-title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: left;
}

/* LEFT SIDE | FORM */
.left-panel {
    background-image: url('images/profile2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.social-links a {
    text-decoration: none;
    margin-right: 0.5rem;
}

.social-links a i {
    color: var(--tertiary-color);
    font-size: 1.5rem;
    object-fit: contain;
}

/* RIGHT SIDE | FORM */
.right-panel p {
    margin-bottom: 2rem;
}

form {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.input-field {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.field {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field, .area i {
    color: var(--tertiary-color);
    font-size: 1rem;
    object-fit: contain;
}

.message-area {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.area {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: top;
}

input, select {
    width: calc(100% - 2rem);
    height: auto;
    padding: 0.5rem;    
    border: none;   
    border-radius: 0.5rem;
    margin: 0.5rem 1rem;
}

textarea {
    width: 100%;
    height: auto;
    padding: 0.5rem;    
    border: none;   
    border-radius: 0.5rem;
    margin: 0.5rem 1rem;
}

.field textarea {
    width: calc(200% - 4rem);
    height: 150px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.5rem;
    margin: 0.5rem 2rem;
    resize: none;
}

form button {
    width: calc(100% - 2rem);
    padding: 0.75rem;
    margin: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    font-weight: 600;
    cursor: pointer;
}

form span i {
    color: var(--tertiary-color);
    font-size: 1.5rem;
    object-fit: contain;
}

/* ----------- */
/* MOBILE VIEW */
/* ----------- */

@media (max-width: 620px) {

   .contact-form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

/* COMBINE LEFT + RIGHT SIDE */
.left-panel, .right-panel {
    width: 100%;
    height: auto;
    padding: 1rem;
}

}