* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #1C1C1C;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 1440px;
    height: 100Vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: monospace;
}

/* HEADER SECTION */
.header-container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #1b1d1a;
    color: #fff;
}

/* ------------------- */
/* MENU BAR FOR MOBILE */
/* ------------------- */
.header-container i {
    display: none;
    font-size: 1.8rem;
    color: #ffcc29;
    cursor: pointer;
}

/* -------- */
/* BRANDING */
/* -------- */
.branding {
    display: flex;
    align-items: center;
}

.branding img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.branding h1 {
    color: white;
    font-size: clamp(0.8rem, 1vw + 0.5rem, 1.5rem);
    font-weight: bold;
}

#branding-title {
    color: #ffcc29;
}

/* -------------- */
/* NAVIGATION BAR */
/* -------------- */
.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links li a {
    color: white;
    font-size: clamp(1rem, 1.1vw + 0.5rem, 1.2rem);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

/* MENU-TOGGLE */
.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

/* ----------------------------- */
/* NAVIGATION BAR - EFFECT */
/* ----------------------------- */
.nav-links li a:hover,
.nav-links li a:focus {
    color: #ffcc29;
    text-decoration: none;
}

.nav-links li a:active {
    color: #FF8C00;
}

/* -------------- */
/* CONTACT BUTTON */
/* -------------- */
#contact-button {
    display: inline;
    padding: 0.5rem 1rem;
    margin: 0;
    background-color: #ffcc29;
    color: #1C1C1C;
    font-size: clamp(1rem, 1.1vw + 0.5rem, 1.2rem);
    border-radius: 5px;
    list-style-type: none;
}

#contact-button:hover {
    background: transparent;
    outline: 2px solid white;
}

#contact-button a {
    text-decoration: none;
    color: #1C1C1C;
    font-weight: bold;
}

#contact-button a:hover {
    color: white;
}

/* ------------ */
/* MAIN SECTION */
/* ------------ */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 4rem);
    height: auto;
    margin: 0 2rem;
}

/* INTRO SECTION */
#intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Left Side - INTRO CONTAINER */

.social-container {
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    margin: 0 2rem;
    top: 10%;
    width: calc(50% - 4rem);
}

.social-links {
    display: flex;
}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: .5rem;
}

.social-links i {
    font-size: clamp(1.5rem, 2vw + 0.8rem, 2.5rem);
    transition: filter 0.3s ease-in-out;
}

.social-links img:hover {
    filter: invert(1) sepia(1) saturate(15) brightness(1.5) hue-rotate(80deg);
}

.animated-text {
    color: #ffcc29;
    font-family: "Bungee", sans-serif;
    font-size: clamp(1.5rem, 2vw + 0.8rem, 2.5rem);
    width: 100%;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 2s steps(20) infinite alternate-reverse;
}

@keyframes typing {
    from {
        width: 0ch;
    }
}

.social-info p {
    width: 100%;
    text-align: justify;
    color: #858585;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(0.8rem, 1vw + 0.3rem, 1.5rem);
}

/* Right Side - INTRO CONTAINER */
.profile-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    height: auto;
    overflow: hidden;
}

/* Background text */
.profile-title {
    color: white;
    font-family: "Bungee", sans-serif;
    font-size: clamp(4rem, 6vw + 2rem, 10rem);
    font-weight: bold;
    position: absolute;
    opacity: 0.3;
    white-space: nowrap;
    transform: rotate(-20deg);
    pointer-events: none;
    z-index: 1;
    user-select: none;
}

/* Foreground image */
.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    height: auto;
    z-index: 2;
}

/* RATING - INTRO CONTAINER */
.rating-container {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 3rem 0;
    font-size: clamp(0.6rem, 0.8vw + 0.5rem, 1rem);
}

.stat-box {
    text-align: center;
    width: 20%;
}

.stat-box i {
    color: #ffcc29;
    font-size: clamp(1rem, 1.5vw + 0.5rem, 2rem);
}

.count {
    font-size: clamp(1.5rem, 1.8vw + 1rem, 2rem);
    font-weight: bold;
    color: #858585;
}

/* SERVICES CONTAINER */
.services-title {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    font-family: monospace;
    font-size: clamp(0.8rem, 1vw + 0.5rem, 1rem);
    width: calc(100vw - 4rem);
    margin-left: 4rem;
    color: white;
}

.services-title p {
    position: relative;
    font-size: clamp(1.2rem, 1.8vw + 0.6rem, 2.5rem);
    margin-top: -10px;
    word-spacing: 5px;
}

#services-paragraph {
    color: #ffcc29;
    font-family: "Bungee", sans-serif;
}

#services {
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.services-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: calc(100vw - 8rem);
    gap: 4rem;
}

.service-box {
    background-color: #fff;
    color: #1b1d1a;
    flex: 1;
    min-width: clamp(10rem, 15vw + 8rem, 30rem);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.service-box:hover {
    transform: scale(1.05);
    background-color: #1C1C1C;
    color: white;
    outline: 2px solid white;
    cursor: pointer;
}

.service-box i {
    font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
    margin-bottom: 10px;
}

.service-box h3 {
    font-size: clamp(0.8rem, 1vw + 0.5rem, 1.5rem);
    font-weight: bold;
}

.service-box p {
    font-size: clamp(0.6rem, 0.8vw + 0.5rem, 1rem);
}

.service-box:nth-child(1) i {
    color: #ff5722;
}

.service-box:nth-child(2) i {
    color: #2196F3;
}

.service-box:nth-child(3) i {
    color: #4CAF50;
}

.service-box:nth-child(4) i {
    color: #673AB7;
}

/* --------------- */
/* ABOUT CONTAINER */
/* --------------- */
.about-title {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    font-family: monospace;
    font-size: clamp(0.8rem, 1vw + 0.5rem, 1rem);
    width: calc(100vw - 4rem);
    margin-left: 4rem;
    margin-top: 4rem;
    color: white;
}

.about-title p {
    position: relative;
    font-size: clamp(1.2rem, 1.8vw + 0.6rem, 2.5rem);
    margin-top: -10px;
    word-spacing: 5px;
}

#about-paragraph {
    color: #ffcc29;
    font-family: "Bungee", sans-serif;
}

#about {
    background: #939393;
    outline: 5px solid #939393;
    width: calc(100% - 4rem);
    height: 30rem;
    display: flex;
    border-radius: 0.5rem;
    margin: 0 2rem;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Left Side - ABOUT CONTAINER */
.about-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
}

.about-left img {
    position: relative;
    width: calc(100% - 4rem);
    height: 100%;
    object-fit: contain;
    border-radius: 0.5rem;
    border: 5px solid rgba(0, 0, 0, 0.4);
    margin: 2rem;
}

/* right side - ABOUT CONTAINER */

.about-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 70%;
}

.tabs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    box-sizing: border-box;
}

.tab-link {
    background: #1C1C1C;
    color: white;
    flex: 1;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 100;
    box-sizing: border-box;
    text-align: center;
}

.tab-link.active {
    background: #ffcc29;
    color: #1b1d1a;
    font-weight: bold;
}

/* Tab interface */
.tab-content {
    color: white;
    height: 26rem;
    width: 100%;
    font-size: clamp(0.6rem, 0.8vw + 0.5rem, 1rem);
    display: none;
    position: relative;
    margin-top: 1rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    overflow: hidden;
}

.tab-content.active {
    display: block;
    justify-content: center;
}

/* --------- */
/* SKILLS TAB*/
/* --------- */
#skills {
    background: #1b1d1a;
    border-radius: 0.5rem;
    padding: 1.2rem 2rem;
}

/* -------------- */
/* SKILL PROGRESS */
/* -------------- */
.progress-bar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% - 2rem);
    margin: 1rem;
    font-family: monospace;
}

.progress-bar {
    width: calc(50% - 1rem);
    display: flex;
    align-items: center;
    margin: 0.5rem;
    gap: 1rem;
}

.progress-bar i {
    margin-top: 1rem;
    font-size: 2rem;
}

.progress-detail {
    flex: 1;
}

.progress-title {
    margin: 0 0 5px 0;
    font-weight: bold;
    font-size: 1rem;
}

.bar {
    width: 100%;
    background-color: #333333;
    color: white;
    border-radius: 1rem;
    overflow: hidden;
    height: 1.5rem;
}

.fill {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    font-weight: bold;
    height: 100%;
    width: 0;
    border-radius: 1rem;
    color: #1c1c1c;
    background-color: #ffcc29;
    animation: fillBar 2s forwards;
}

@keyframes fillBar {
    from {
        width: 0;
    }

    to {
        width: var(--progress);
    }
}

/* ----------------- */
/* CERTIFICATION TAB */
/* ----------------- */
#certification {
    background: #1b1d1a;
    padding: 1rem;
    border-radius: 0.5rem;
}

.certification-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.certification {
    background: #1b1d1a;
    color: white;
    display: none;
    gap: 1.5rem;
    border-radius: 0.5rem;
    font-family: monospace;
}

.certification.active {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.cert-title {
    font-size: clamp(0.6rem, 0.8vw + 0.5rem, 1rem);
    margin: 1rem 0;
    text-align: center;
    font-weight: bold;
}

.cert-slider {
    width: 50%;
    position: relative;
    overflow: hidden;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50);
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.5rem;
    cursor: pointer;
    user-select: none;
    z-index: 10;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

.cert-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cert-detail {
    width: calc(50% - 2rem);
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 0.8rem;
}

.cert-detail p {
    font-size: clamp(0.5rem, 0.7vw + 0.3, 1rem);
}

/* ------------ */
/* EDUCATION TAB*/
/* ------------ */
#education {
    background: #1b1d1a;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

.ed-container {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.ed-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.ed-content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: calc(40% - 4rem);
    height: 100%;
    padding: 2rem;
    font-size: clamp(0.6rem, 0.8vw + 0.5rem, 1rem);
    border-radius: 0.5rem;
    color: white;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
}

.ed-content span {
    font-weight: bold;
    color: #ffcc29;
}

/* --------------- */
/* PROJECT SECTION */
/* --------------- */
.project-section-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    font-family: monospace;
    font-size: clamp(0.8rem, 1vw + 0.5rem, 1rem);
    width: calc(100vw - 4rem);
    margin-left: 4rem;
    margin-top: 4rem;
    margin-bottom: -2rem;
    color: white;
}

.project-section-title p {
    position: relative;
    font-size: clamp(1.2rem, 1.8vw + 0.6rem, 2.5rem);
    margin-top: -10px;
    word-spacing: 5px;
}

#project-section-paragraph {
    color: #ffcc29;
    font-family: "Bungee", sans-serif;
}

/* PROJECT CONTAINER */
.project-container {
    display: flex;
    flex-wrap: wrap;
    width: calc(100vw - 4rem);
    height: auto;
    margin: 0 2rem;
    padding: 0;
}

.project-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(50% - 4rem);
    height: auto;
    margin: 2rem;
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: #939393;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.project-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #2d2d2d;
}

.project-title img {
    width: 2rem;
    height: 2rem;
}

.project-image {
    display: block;
    position: relative;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0.5rem;
    padding: 0 4rem;
    cursor: pointer;
}

.project-caption {
    display: flex;
    width: 100%;
    height: 3rem;
    padding: 4rem;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.project-caption p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipses;
    color: #2d2d2d;
}

/* -------------- */
/* FOOTER SECTION */
/* -------------- */
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    margin-top: 5%;
    padding: 0;
    background-color: #1b1d1a;
}

.social-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.social-icons i {
    font-size: clamp(1.2rem, 1.8vw + 0.6rem, 2.5rem);
    margin: 0.5rem;
}

#divider {
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(69, 69, 69);
}

.footer-section {
    display: flex;
}

.footer-section ul {
    width: calc(100% - 4rem);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.footer-section ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-section i {
    font-size: 1.5rem;
    margin: 0 2rem;
}

.footer-section a {
    color: white;
    font-size: clamp(0.6rem, 0.8vw + 0.5rem, 1rem);
    font-weight: bold;
    text-decoration: none;
}

.footer-section a:hover {
    color: #00CC66;
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
}

.footer-brand {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-size: clamp(0.8rem, 1vw + 0.5rem, 1.5rem);
    font-weight: bold;
}

.footer-brand img {
    width: 3rem;
    height: auto;
    object-fit: contain;
}

.footer-bottom p {
    font-size: clamp(0.6rem, 0.8vw + 0.5rem, 1rem);
}